.app__page{
  display: flex;
  background-color: lightgray;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.paragraph{
  text-align: center;
  margin-right: 10%;
  margin-left: 18%;
  font-size: 2em;
}

