.header{
    display: flex;
    height: 100%;
    
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:lightgray;
}

.header__logo{
    height: 25px;
    width: 20px;
    object-fit: contain;
    margin-left: 20px;
}

.header__icons{
    display: flex;
    align-items: center;
 }

 .header__notify{
     margin-right: 20px;
     object-fit: contain;
     align-items: left;
 }

